<div class="row">
   
    {{#each notes}}
      <div class="col-sm-3">
<div class="card bg-light mb-4" style="max-width: 18rem;">
  <div class="card-header">{{date}}</div>
  <div class="card-body">
    <h5 class="card-title">{{CNPJ}} <a href="#"><i class="fas fa-edit"></i></a> </h5>
    <p class="card-text">{{incidente}}</p>
  </div>
  </div>
</div>




   
    {{/each}}
    
</div>