<div class="card">
    <div class="card-body">
        <h1>
            Sobre
        </h1>
        <hr class="my-4">
        <p class="lead">Versão 0.0.1  - Versão beta do gerador de chamado do suporte da seller.</p>
       
    </div>
</div>