<div class="jumbotron mt-4">
<h1 class="display-4">Gerador de chamados</h1>
<p class="lead">Gerador de chamado facilitado para equipe de suporte da Seller</p>
<hr class="my-4">
<p>
    Dificultades em gerar seu chamado? Seus problemas acabaram acesse agora mesmo o gerador de chamados facilitado da equipe de suporte da seller!
</p>
<a href="http://wf.linx.com.br" class="btn btn-primary btn-lg">WF Linx</a>  
</div>